Repository googleapis/python-spanner-sqlalchemy, pull requests merged in 2021-09, with the labels that each got.

#114 chore: create sync-repo-settings
  .github/sync-repo-settings.yaml
Labels: cla: yes, api: spanner

#116 fix: set correct user agent for the dialect
  google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py
  test/test_suite.py
Labels: cla: yes, type: feature request, priority: p1, api: spanner

#106 fix: rollback failed exception log
  google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py
Labels: cla: yes, api: spanner

#120 test: don't fail on errors caused by massive test instances deletion
  create_test_database.py
Labels: cla: yes, type: process, api: spanner

#119 fix: array columns reflection
  google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py
  test/test_suite.py
Labels: cla: yes, automerge, api: spanner

#55 feat: add samples
  CONTRIBUTING.md
  noxfile.py
  samples/__init__.py
  samples/conftest.py
  samples/snippets.py
  samples/snippets_test.py
Labels: cla: yes, samples, api: spanner
