Repository googleapis/python-spanner-sqlalchemy, pull requests merged in 2022-01, with the labels that each got.

#188 fix: connection reset fails when an additional dialect is used
  google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py
  test/test_suite.py
Labels: type: bug, api: spanner

#191 feat: support SQLAlchemy 1.4
  .github/sync-repo-settings.yaml
  .github/workflows/test_suite.yml
  .kokoro/presubmit/compliance.cfg
  create_test_config.py
  create_test_database.py
  google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py
  noxfile.py
  setup.py
  test/test_suite_13.py
  test/test_suite_14.py
  test_migration_env.py
Labels: api: spanner

#194 fix: delete stale instance with delay of 5 seconds
  create_test_database.py
Labels: api: spanner

#189 feat: drop read_only on a connection returned back to a pool
  google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py
  test/test_suite_13.py
Labels: type: feature request, api: spanner

#193 feat: rollback a connection returned back to pool
  google/cloud/sqlalchemy_spanner/sqlalchemy_spanner.py
Labels: type: feature request, api: spanner
